.banner{
    background:#cabcef;
    text-align: center;
    
}


.banner img{
    width: 100%;
    height: 400px;
}

@media screen and (max-width: 426px){
    
    .banner img{
        height: 200px;
    }
}
